body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
	color: #F5D3AD;
	font-weight: bold;
	margin: 0px;
	padding: 20px;
	background-color: #1F2224;
}

.wrapper {
	color: #F5D3AD;
	background-color: #1F2224;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
.content {
	background-color: #732432;
	padding: 15px;
	margin-top: 10px;
}

.navigation table {
	text-align: center;
	border-top-color: #1f2224;
	border-right-color: #1f2224;
	border-bottom-color: #1f2224;
	border-left-color: #1f2224;
	background-color: #3f3c40;
}
li {
	font-size: 14px;
	color: #F5D3AD;
}


a {
	font-size: 16px;
	color: #FFF;
}
a:visited {
	color: #F78373;
}
a:hover {
	color: #FFC;
	text-align: center;
}

h1 {
	font-size: 36px;
	color: #F5D3AD;
	text-transform: capitalize;
	border: medium solid #333;
	font-weight: bold;
	text-align: center;
	background-image: url(Images/header-image.jpg);
	background-position: center;
	font-style: oblique;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 15px;
}
.navigation tr td {
	text-align: center; background-color:#732432
}
.wrapper .content {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	font-size: 24px;
}
.wrapper .content p {
	font-size: 18px;
}
h2 {
	font-size: 24px;
	font-style: oblique;
	text-decoration: underline;
	text-align: center;
}
.wrapper .content p {
	font-size: 16px;
}
h3 {
	font-size: 18px;
	text-decoration: underline;
	text-align: center;
}
.image-left {
	margin-left: 150px;
	float: left;
	border-top-width: thick;
	border-right-width: thick;
	border-bottom-width: thick;
	border-left-width: thick;
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
	border-top-color: #F5D3AD;
	border-right-color: #3F3C40;
	border-bottom-color: #F5D3AD;
	border-left-color: #3F3C40;
	margin-bottom: 125px;
}
.image-border {
	border-top-color: #3f3c40;
	border-right-color: #1f2224;
	border-bottom-color: #3f3c40;
	border-left-color: #1f2224;
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
	border-top-width: medium;
}
